




.side {
    position: absolute;

    border-radius: 3px;
    font-weight: bold;
    color: black;
    text-align: center;
    /* transform-origin: left; */
}

.spine {
    
    width: 100%;
    height: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    
}

.title {
    
    margin-top: 6px;
    top: 0px;
    left: 0px;
    font-size: 12px;
    color: gold;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.author {
    
    color: goldenrod;
    
    
    overflow-wrap: break-word;
}

.top {
    position: absolute;
    width: 100%;
    height: 120px;
    
    transform-origin: 0 0;
    
    
    background-image: linear-gradient(90deg, white 90%, gray 10%);
    background-size: 5px 5px;
    transform: rotateX(90deg) translateY(-120px);
}

.book { 
    position: relative;
    margin-left: 1px;
    transform-style: preserve-3d;
    transform: translateZ(0) rotateY(0);
    transition: all 1s ease;
    cursor: pointer;
    bottom: -15px;
}
.cover {
    top: 0;
    left: 50px;
    width: 120px;
    height: 100%;
    background-color: grey;
    transform-origin: left;
    transform: rotateY(90deg);
    transition: all 1s ease;
    transform-style: preserve-3d;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cover img {
    backface-visibility: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 0;
    left: 50px;
}

.content {
    width: 120px;
    height: 100%;
    font-size: 12px;
    
    top: 0;
    padding: 10px;
    transform: rotateY(90deg) perspective(2000px) rotateZ(0);
    transition: all 1s ease;
    box-shadow: inset 190px 0 70px rgba(0, 0, 0, 0.4);
    transform-style: preserve-3d;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #E5CBBA;
    transform-origin: left;
}



.content-btn {
    border-radius: 2px;
    border: none;
    margin-top: 4px;
    font-size: 10px;
}

.content-btn:hover {
    background-color: rgb(192, 192, 192);
    transform: translateY(-2px);
    transition: all 0.5s ease;
}


.book:hover {
    transform: rotateX(-15deg)  perspective(2000px) translateZ(100px);
}

.bookshelf input {
    display: none;
    
}

input:checked + label.book{
    transform: rotateY(-90deg) translateY(300px) translateZ(-300px);

}
input:checked + label.book .cover:hover{
    transform: rotateY(-75deg);  
    
}

.book:has(.content:hover) .cover {
    transform: rotateY(-75deg);  
    
}
.book:has(.content:hover) .content {
    box-shadow: inset 15px 0 20px rgba(0, 0, 0, 0.4);
    
}

.bookshelf:has(.cover:hover) .content {
    box-shadow: inset 15px 0 20px rgba(0, 0, 0, 0.4);
}





